/* Line */
hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: auto;
    padding: 0;
    width: 25%;
    margin-top: 20px;
}

/* Small Line */
.smallhr hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ffffff97;
    margin: auto;
    padding: 0;
    width: 15%;
}
