/* Footer */
.footer {
  margin-top: 18vh;
    height: 65px;
    align-content: center;
    text-align: center;
    padding: 11px;

  }

  .footer p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .01em;
    color: #ffffff;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 8px;
  }

  .footer a:link {
    color:  rgb(195, 211, 252);
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
  }  

  .footer a:hover {
    color:  rgb(218, 158, 216);
    background-color: transparent;
    transition: 0.1s;
  }

  .footer a:visited {
  color:  rgb(195, 211, 252);
  background-color: transparent;
  text-decoration: none;
}

.footer a:visited:hover {
  color:  rgb(218, 158, 216);
  background-color: transparent;
  transition: 0.1s;
}


/* Platform Optimizations */
/* Media Query Phones */
@media only screen and (max-device-width: 421px) {
    /* Footer */
    .footer{
    padding: 0px;
    }
    .footer p {
    font-size: 15px;
  }
 }
 
 /* Media Query Extra Smaller Phones */
 @media only screen and (max-device-height: 635px) {
    /* Footer */
    .footer{
    padding: 0px;
    }
    .footer p {
    font-size: 13px;
  }
 }

/* Media Query Fold Narrow */
@media only screen and (max-device-width: 300px) {
    /* Footer */
    .footer{
      padding: 0px;
      }
      .footer p {
      font-size: 13px;
    }
}

/* Media Query Fold Wide */
@media only screen and (max-device-width: 750px) and (max-device-height: 520px) {
    /* Footer */
    .footer{
      padding: 0px;
      }
      .footer p {
      font-size: 14.5px;
    }
}