

.informationTitle{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    cursor: default;
}

.TextBox{
    padding-top: 15px;
    text-align: center;
}

input[type=text] {
    border-radius: 5px;
    height: 25px;
    border-width: 2px;
}

input[placeholder] {
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    font-size: 18px;
}

.storeStandardsTitle{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    cursor: default;
}

.QuestionContent{
    margin-left: 35%;
}

.SectionTitle{
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 350px;
    cursor: default;
}

.TopTitle{
    cursor: default;
    display:flex;
    flex-wrap: wrap;
}

button{
    font-family: 'Poppins', sans-serif;
    margin-left: 16%;
    margin-top: 60px;
    border-width: 2px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

button:hover{
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}





