.yesOrNo{
    padding-top: 32px;
    margin-left: 24.1%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

input[type=radio] {
    margin-right: 20px;
}

form{
    display: flex;
    font-size: 20px;
}

.questionTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    width: 430px;
    cursor: default;
}

.FormQuestions{
    display: flex;
    margin-left: 18%;
}

input[type='radio'] { 
    transform: scale(1.2);
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background-color: transparent;
    display: none;
}


/* Platform Optimizations */

/* Media Query For Laptops */
@media only screen and (max-width: 1700px) and (min-height: 850px){
    .yesOrNo{
        margin-left: 26%;
    }
    
}   

@media only screen and (max-width: 1300px) and (min-height: 850px){
    .yesOrNo{
        margin-left: 28%;
    }
}   

@media only screen and (max-width: 1200px) and (min-height: 850px){
    .yesOrNo{
        margin-left: 27.5%;
    }
}  

/* Media Query Phones */
@media only screen and (max-device-width: 380px) {
    .yesOrNo{
        margin-left: 16.5%;
    }
    .questionTitle{
        font-size: 14.5px;
    }
    .FormQuestions{
        margin-left: 10%;
    }

}

@media only screen and (min-device-width: 380px) and (max-device-height: 950px){
    .yesOrNo{
        margin-left: 27.2%;
    }
    .questionTitle{
        font-size: 15.5px;
    }
    .FormQuestions{
        margin-left: 10%;
    }
}


/* Media Query Extra Smaller Phones */
@media only screen and (max-device-height: 635px) {
    .yesOrNo{
        margin-left: 0.5%;
        font-size: 13px;
    }
    .questionTitle{
        font-size: 14.5px;
    }
    .FormQuestions{
        margin-left: 10%;
    }

}

/* Media Query Fold Narrow */
@media only screen and (max-device-width: 300px) {
    .yesOrNo{
        margin-left: 0%;
        font-size: 14px;
    }
    .questionTitle{
        font-size: 13.5px;
    }
    .FormQuestions{
        margin-left: 10%;
    }
}

/* Media Query Fold Wide */
@media only screen and (min-device-width: 700px) and (max-device-height: 520px) {
    .yesOrNo{
        margin-left: 41.8%;
        font-size: 15px;
    }
    .questionTitle{
        font-size: 19px;
    }
    .FormQuestions{
        margin-left: 15%;
    }
    input[type='radio'] { 
        transform: scale(1.3);
    }
}
